<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>
<div id="InnerCont"><div id="MainContentBox">

<noindex>
	<div id="adfox_152829440175643855"></div>
	<script>
		window.Ya.adfoxCode.create({
			ownerId: 272568,
			containerId: 'adfox_152829440175643855',
			params: {
				pp: 'g',
				ps: 'cukh',
				p2: 'fxqy'
			}
		});
	</script>
</noindex>

<!-- MAIN-DESIGN START -->
<div id="TOP">$TopContent</div>

<div class="C20"></div>

<div id="LEFT">$LeftContent</div>
<div id="CENTER"><div id="Caption">$Caption</div>$Content<div id="grf_gpp_ng72ru"></div></div>
<div id="RIGHT">$RightContent</div>

<div class='C20'></div>

<!--MaxLab START-->
<!--Лаборатория "MaxLab"-->
<!--Сайт: НГС 72 Тюмень-->
<!--Категория: Тюменская область-->
<!--Тип баннера: 100%x70
<div id="adfox_152568534676219300" style="position:fixed;bottom:0;"></div>
<script>
	window.Ya.adfoxCode.create({
		ownerId: 233,
		containerId: 'adfox_152568534676219300',
		params: {
			p1: 'cavhk',
			p2: 'fbsz'
		}
	});
</script>-->
<div id="BOTTOM">$BottomContent</div>

<div class="C20"></div>

<div id="BottomBox">
	<div class="Menu">$dopmenu<noindex><div class='C'></div><div class="City">$ourcities</div></noindex></div>
	<noindex><div class="Text">$official<div class="C15"></div><box>$editors</box><box>$comgorod</box><box>$comkazan</box><div class="C15"></div>$copyright</div></noindex>
	<noindex><div class="EndText"><div class='CopyEnd'>$copylast</div><noindex><div class='Counters'>$counters</div></noindex></div></noindex><div class="C20"></div>$sape<div class="C30"></div>
</div>

<!-- MAIN-DESIGN END -->
</div></div>

<div id="LeftCont"></div><div id="RightCont"></div>
<div class="actionBanner1 ToUp" id="Banner-17-1"></div>
<div class="actionBanner2 ToUp" id="Banner-25-1"></div>
<div class='bannerdown' id='Banner-3-1' style="width:100%;margin: 0 auto;display:none;">
	<div id="adfox_151021603657842118"></div>
	<div class="closeban">Закрыть [x]</div>
</div>

<script type="text/JavaScript" encoding="utf8">
 (function() {
 var sm = document.createElement("script");
 sm.type = "text/javascript";
 sm.async = true;
 sm.src = "//jsn.24smi.net/4/0/10664.js";
 var s = document.getElementsByTagName("script")[0];
 s.parentNode.insertBefore(sm, s);})();
</script>
<!--MaxLab START-->
<!--Лаборатория "MaxLab"-->
<!--Сайт: НГС 72 Тюмень-->
<!--Категория: Тюменская область-->
<!--Тип баннера: 100%x60-->
<!--<script>
window.Ya.adfoxCode.create({
ownerId: 233,
containerId: 'adfox_151021603657842118',
params: {
p1: 'bypnt',
p2: 'fbcl'
}
});
</script> -->
<!--MaxLab START-->
<!--Лаборатория "MaxLab"-->
<!--Сайт: НГС 72 Тюмень-->
<!--Категория: Тюменская область-->
<!--Тип баннера: 240x400-->
<script>
window.Ya.adfoxCode.create({
ownerId: 233,
containerId: 'adfox_15187716605382891',
params: {
p1: 'bznhf',
p2: 'vd'
}
});
</script>